body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0;
	margin: 0;
}
html {
	width: 100%;
	height: 100%;
}
.wrap {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill,minmax(calc(8rem + 5vw + 5vh),1fr));
	grid-gap: 1.5vmin;
	padding: 2.5vmin;
}	
figure {
	margin: 0;
	transition: all ease-in-out .222s;
}
figure:first-child {
    grid-row-start: span 3;
    grid-column-start: span 3;	
}
figure:nth-child(2n+3) {
    grid-row-start: span 3;
}
figure:nth-child(4n+5) {
    grid-column-start: span 2;
		grid-row-start: span 2;
}
figure:nth-child(6n+7) {
    grid-row-start: span 2;
}
figure:nth-child(8n+9) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}
img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	box-shadow: 0 0 3px #496b7b;
	border-radius: 5px;
}
figure:hover {
	transform: scale(1.05);
}



